@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog App</title>
    <link rel="stylesheet" href="/writer/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/writer/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/writer/assets/css/style.css">
    <link rel="shortcut icon" href="/writer/assets/images/favicon.ico" />


</head>
<body>
    <div class="container-scroller">
        @await Html.PartialAsync("WriterHeaderNavbarPartial")
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("WriterNavbarPartial")
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Blog App @DateTime.Now.Year</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates </a> from Bootstrapdash.com</span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="/writer/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/writer/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/writer/assets/js/off-canvas.js"></script>
    <script src="/writer/assets/js/hoverable-collapse.js"></script>
    <script src="/writer/assets/js/misc.js"></script>
    <script src="/writer/assets/js/dashboard.js"></script>
    <script src="/writer/assets/js/todolist.js"></script>
</body>
</html>