@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Register Now</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                {
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">First & Last name</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "validationDefault01", placeholder = "", required = "required", name = "Name" })
                            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                            @* <input type="text" class="form-control" id="validationDefault01" placeholder="" required="" name="Name"> *@
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">E-mail Address</label>
                            <input type="email" class="form-control" id="validationDefault02" placeholder="" required="" name="Mail">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Password</label>
                            <input type="password" class="form-control" id="password1" placeholder="" required="" name="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword2 mb-2">Confirm Password</label>
                            <input type="password" class="form-control" id="password2" placeholder="" required="">
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                    <p>
                        <a href="#" id="btnSubmit">By clicking Signup, I agree to your terms</a>
                    </p>
                }

            </div>
        </div>
    </div>
    <script>
        $('#btnSubmit').click(function(){
            Swal.fire("By accessing and using this website, you agree to the following terms: All content is provided for informational purposes only. You may not copy, reproduce, or redistribute any part of this website without permission. We are not responsible for any losses or damages caused by the use of this site. We reserve the right to modify or remove any content at any time without notice. Your continued use of the site indicates your acceptance of these terms. If you do not agree with any part of these terms, please do not use the site.");
        });
    </script>
</section>

